.btn-div {
  // padding-bottom: 50px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    align-items: center;
    // justify-content: center;
    column-gap: 15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  gap: 8px;
  @media screen and (min-width: 480px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
  flex-basis: calc((100% - 4 * 8px) / 5);
  &__button {
    @include btn(getColor("title"), getColor("team"), 16px, 4px, 500, 6px 22px);
    @include text(getColor("title"), 16px, 500, 1.63, 0.48px);
    // color: getColor("title");
    text-align: center;
    font-family: getFont("roboto-font");
    // font-size: 16px;
    font-style: normal;
    // font-weight: 500;
    // line-height: 1.63;
    // letter-spacing: 0.48px;
    /* width: 125px;
    height: 38px;  */
    border: none;
    // border-radius: 4px;
    // padding: 6px 22px;
    &:hover {
      color: getColor("place");
      // color: getColor("nav");
      background-color: getColor("hover");
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

      transition-property: background-color, color, box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation: jump 1s ease infinite alternate;
    }
  }
}
@keyframes jump {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translateY(-15px);
  }
}
