.main-list {
  // display: flex;
  // justify-content: space-between;
  @extend %flex-b;
  flex-wrap: wrap;
  gap: 30px;
  &__item {
    position: absolute;
    border: 1px solid getColor("pics");
    padding-bottom: 20px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 480px) {
      flex-basis: 100%;
      flex-grow: 1;
      flex-shrink: 1;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }
    &--last {
      flex-grow: 0;
    }
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
      .overlay {
        transform: translatey(0);
      }
    }
  }
  &__img {
    @extend %imgs;
  }
  &__imgoverlay {
    position: relative;
    overflow: hidden;
  }
  &__box {
    padding-left: 24px;
    z-index: 10;
    font-size: 16px;
  }
  &__title {
    @include text(getColor("title"), 18px, 700, 2, 1.08px);
    // font-size: 18px;
    // font-weight: 700;
    // line-height: 2;
    // letter-spacing: 1.08px;
  }
  &__text {
    @include text(getColor("text"), 16px, 400, 1.88, 0.48px);
    // color: getColor("text");
    // line-height: 1.88;
    // letter-spacing: 0.48px;
    // font-size: 16px;
  }
}
