.clients {
  padding-top: 93px;
  padding-bottom: 94px;
  &-title {
    @include text(getColor("title"), 36px, 700, normal, normal);
    // font-weight: 700;
    // font-size: 36px;
    text-align: center;
    margin-bottom: 49px;
  }
  &-item {
    &__svg {
      fill: getColor("clients");
    }
  }
}
.clients-list {
  display: flex;
  gap: 30px;
  &__item {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @extend %flex-c;
    border: 1px solid getColor("clients");
    border-radius: 4px;
    width: 170px;
    height: 92px;
    &:hover {
      border: 1px solid getColor("hover");
      .clients-item__svg {
        fill: getColor("hover");
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
