.footer {
  font-size: 16px;
  background-color: getColor("background");
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  }
}
.logo--studio-footer {
  color: getColor("place");
}
.footer-sect {
  // flex-direction: column;
  // display: flex;
  @include flex(column, center);
  gap: 9px;
  &__place {
    color: getColor("place");
    margin-top: 20px;
  }
  &__list {
    // display: flex;
    // flex-direction: column;
    @include flex(column, center);
    gap: 9px;
  }
}
.link {
  color: getColor("foot");
}
