.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    /* gap:90px; */
}

.footer {
    font-size: 16px;
    background-color: var(--background);
}

.foot-logo {
    margin-bottom: 20px;
}
.footer-secondpart {
    color: var(--place);
}
.footer-logo {
    margin-right: 93px;
}
.footer-sect {
    flex-direction: column;
    display: flex;
    gap: 9px;
}

.footer-sect__place {
    color: var(--place);
}

.footer-sect__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.link {
    color: var(--foot);
}

