.foot-links {
  text-transform: uppercase;
  display: flex;
  padding-top: 10px;
  gap: 10px;
  flex-direction: column;
  margin-left: 90px;
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: getColor("place");
    margin-bottom: 16px;
  }
}
.foot-list {
  &__link {
    border-radius: 50%;
    background-color: getColor("foot-links");
    // opacity: 1;
  }
  &__svg {
    fill: getColor("place");
  }
}
