.footer {
  font-size: 16px;
  background-color: getColor("background");
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  }
}
.foot-logo {
  margin-bottom: 20px;
}
.footer-secondpart {
  color: getColor("place");
}
.footer-logo {
  margin-right: 93px;
}
.footer-sect {
  flex-direction: column;
  display: flex;
  gap: 9px;
  &__place {
    color: getColor("place");
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}
.link {
  color: getColor("foot");
}
