.header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  // display: flex;
  // justify-content: space-between;
  @extend %flex-b;
  align-items: center;
}
.header-div {
  // display: flex;
  // align-items: center;
  @extend %flex-c;
  flex-wrap: wrap;
}
.logo {
  @include text(getColor("hover"), 26px, 700, normal, normal);
  // font-size: 26px;
  font-family: getFont("raleway-font");
  // font-weight: 700;
  // color: getColor("hover");
  &--studio-header {
    color: getColor("second");
  }
}
.header-div__logo {
  margin-right: 93px;
}
.nav-list {
  display: flex;
  gap: 50px;
  &__item {
    position: relative;
  }
  &__link {
    @include text(getColor("title"), 14px, 500, normal, 0.28px);
    // color: getColor("title");
    // font-size: 14px;
    // font-weight: 500;
    // letter-spacing: 0.28px;
  }
}
.current::after {
  content: "";
  display: block;
  color: getColor("hover");
  height: 4px;
  width: 100%;
  background: getColor("hover");
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -34px;
}
.other::after {
  content: "";
  display: block;
  color: getColor("hover");
  height: 4px;
  width: 0;
  background-color: getColor("hover");
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -34px;
  transition: width 1s ease;
}
.other:hover::after {
  width: 100%;
}
.header-contact {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  &__link {
    @include text(getColor("text"), 14px, 500, normal, 0.28px);
    // color: getColor("text");
    // font-size: 14px;
    // font-weight: 500;
    // letter-spacing: 0.28px;
    svg {
        transition: transform 0.3s ease;
        &:hover {
            transform: rotate(360deg);
        }
    }
    &:hover {
        .header-svg {
            fill: getColor("hover");
        }
    }
  }
  &__svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    fill: getColor("text");
  }
}