.info {
    padding-bottom: 94px;
    padding-top: 94px;
}
.info-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.info-list__item {
    flex-basis: calc((100% - 3*30px) / 4);
}
.info-list__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-color: var(--team);
    margin-bottom: 30px;
}
.info-svg {
    fill: var(--title);
}
.info-list__title {
    /* font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    width: 270px;   */
    margin-bottom: 10px;
}
.info-list__text {
    color: var(--text);
}