.info {
  padding-bottom: 94px;
  padding-top: 94px;
  // &-svg {
  //   fill: getColor("title");
  // }
}
.info-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  &__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-color: getColor("team");
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__text {
    color: getColor("text");
  }
}
