.subscribe {
  padding-left: 72px;
  padding-top: 10px;
  &-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: getColor("place");
    margin-bottom: 19px;
  }
  &-box {
    display: flex;
    &__input {
      margin: auto;
      margin-bottom: 20px;
      background-color: transparent;
      border: 1px solid getColor("subscribe");
      border-radius: 4px;
      display: block;
      height: 50px;
      padding: 15px 16px;
      color: getColor("place");
      outline: none;
      width: 358px;
      &:focus {
        border-color: getColor("hover");
      }
    }
    &__btn {
      color: getColor("place");
      background-color: getColor("hover");
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      width: 200px;
      height: 50px;
      border-radius: 4px;
      fill: getColor("text");
      display: inline-flex;
      align-items: center;
      justify-content: center;
      align-content: space-around;
      border: none;
      margin-left: 12px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      &:hover + .subscribe-box__svg {
        color: getColor("hover");
        background-color: getColor("place");
      }
    }
    &__svg {
      margin-left: 10px;
      fill: getColor("place");
    }
  }
}
