.svg-list {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  @include flex(row, space-between);
  gap: 10px;
  &__link {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @include flex(row, space-between);
    width: 44px;
    height: 44px;
    opacity: 1;
    &:hover {
      background-color: getColor("hover");
      border-radius: 50%;
      opacity: 1;
    }
  }
  &__link:hover .svg-list__svg {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
//   &__svg {
//     fill: getColor("clients");
//   }
}
