.team-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    text-align: center;
    /* width: 1200px; */
}

.team {
    background-color: var(--team);
    /* width: 1600px; */
    padding-bottom: 94px;
    padding-top: 94px;
    flex-wrap: wrap;
}

.team-list {
    display: flex;
    /* width: 1200px; */
    flex-wrap: wrap;
    gap: 30px;
}

.team-item {
    background-color: var(--place);
    /* width: 270px; */
    /* height: 368px; */
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    flex-basis: calc((100% - 3*30px) / 4);
}

.team-item_title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    /* padding: 30px 70px 10px 0px; */
}

.team-item_text {
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
}

.team-item_img {
    height: 260px;
}

.svg-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    gap: 10px;
}

.svg-list_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.svg-list_link:hover {
    background-color: var(--hover);
    border-radius: 50%;
}

.svg-list_svg {
    fill: var(--clients);
}

.svg-list_link:hover .svg-list_svg {
    fill: var(--place);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}