.team {
  background-color: getColor("team");
  /* width: 1600px; */
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  flex-wrap: wrap;
  &-title {
    @include text(getColor("title"), 36px, 700, normal, 1.08px);
    // font-size: 36px;
    // font-weight: 700;
    // letter-spacing: 1.08px;
    margin-bottom: 50px;
    text-align: center;
  }
}
.team-list {
  @media screen and (min-width: 480px) {
    // flex-wrap: nowrap;
  }
  display: flex;
  // /* width: 1200px; */
  flex-wrap: wrap;
  gap: 30px;
  &__item {
    background-color: getColor("place");
    /* width: 270px; */
    /* height: 368px; */
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    flex-basis: calc((100% - 3 * 30px) / 4);
    
  }
  &__box {
    // height: 260px;
    // width: 270px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__img {
    @extend %imgs;
  }
  &__title {
    @include text(getColor("title"), 16px, 500, normal, 0.48px);
    // font-size: 16px;
    // font-weight: 500;
    // letter-spacing: 0.48px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    // @media screen and (min-width: 1200px) {
    //   font-size: 36px;
    //   line-height: 1.17;
    //   margin-bottom: 50px;
    // }
    /* padding: 30px 70px 10px 0px; */
  }
  &__text {
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
  }
}
.svg-list {
  // margin-top: 18px;
  &__link:hover .svg-list__svg {
    fill: getColor("place");
  }
  &__svg {
    fill: getColor("clients");
  }
}
