* {
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: getColor("title");
  font-size: 14px;
}

a {
  &:hover,
  &:focus {
    color: getColor("hover");
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
