:root {
    --hover: #2196F3;
    --second: #000;
    --place: #FFF;
    --title: #212121;
    --text: #757575;
    --background: #2F303A;
    --team: #F5F4FA;
    --foot: rgba(255, 255, 255, 0.60);
    --svg: rgba(255, 255, 255, 0.1);
    --clients: #afb1b8;
    --bg-doings: rgba(47, 48, 58, 0.8);
    --modal: rgba(117, 117, 117, 0.5);
    --pics: #EEE;
    --overlay: rgba(33, 150, 243, 0.9);
}