:root {
    --hover: #2196F3;
    --second: #000;
    --place: #FFF;
    --title: #212121;
    --text: #757575;
    --background: #2F303A;
    --foot: rgba(255, 255, 255, 0.60);
    --pics: #EEE;
    --overlay: rgba(33, 150, 243, 0.9);
}